.nav {
  margin-left: auto;
  margin-right: 50px;
  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    height: 60px;
    align-items: center;
    text-decoration: none;
    color: #060b35;
    text-transform: uppercase;
    font-size: 12px;
    transition: color $transition-time linear;
  &--active {
    position: relative;
    color: $nav-text-color;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      background-color: $buy-color;
      border-radius: 8px;
    }
  }

    &:hover {
      color: $nav-text-color;
    }
  }
}
